<style>
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: #fff; /* Білий колір тексту */
    }

    .navbar {
        background-color: #1a1d24;
    }

    .nav-link {
        border-radius: 20px; /* Завкругленість кнопок */
    }

    .nav-link.active {
        background-color: #657ee4;
        border-color: #657ee4;
    }

    .nav-link.active,
    .nav-link.active:hover {
        color: #fff;
    }

    .block {
        margin-top: 50px;
        padding: 20px;

        border-radius: 10px;
        background-color: #2e323c; /* Колір фону блоку */
    }

    .block img {
        max-width: 100%;
        height: auto;
    }

    .block p {
        margin-bottom: 10px;
        font-size: 16px;
        color: #fff; /* Білий колір тексту */
    }

    body {
        background-color: #262a33; /* Колір фону сторінки */
        color: #fff; /* Білий колір тексту */
    }

    .btn-primary {
        background-color: #657ee4 !important; /* Змінений колір кнопки */
        color: #fff; /* Білий колір тексту */
    }

    select.form-control {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff; /* Фоновий колір */
        color: #000; /* Колір тексту */
        padding: 5px; /* Відступи */
        border: 1px solid #ccc; /* Рамка */
        border-radius: 5px; /* Закруглені кути */
        width: 100%; /* Ширина */
    }

    select.form-control option:checked {
        background-color: #657ee4;
        color: #fff; /* Колір тексту */
    }

    select.form-control option:hover {
        background-color: #657ee4;
        color: #fff; /* Колір тексту */
    }

    .custom-file-upload {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #657ee4; /* колір кнопки */
        color: #fff; /* колір тексту */
        border-radius: 5px; /* заокруглені кути */
    }

    .custom-file-upload:hover {
        background-color: #4056b4; /* колір кнопки при наведенні */
    }

    #file-name-placeholder {
        margin-left: 10px; /* відступ для імені файлу */
        color: #fff; /* Білий колір тексту */
    }
</style>
<script>
    function updateFileName(input) {
        var fileName = input.files[0].name; // Отримуємо ім'я файлу
        document.getElementById('file-name-placeholder').innerText = fileName; // Змінюємо текст на ім'я файлу
    }
</script>
